@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fitness App by ABC-Coders</h1>
    <p class="lead">
        Fitness is a C# program that helps you meet your health needs by suggesting diets and workouts based on your unique input
        Fitness provide users with an all-in-one application to organize their health information and to establish workouts with their personal goals in mind.
    </p>
    <p><a href="https://github.com/tuganbraden/BlueBadgeChallenge/blob/Develop/ReadMe.MV" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    
        <h2>Getting started</h2>
        <p>
            This application allows you to register, input your health information, select a diet, and choose workouts!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    
</div>